* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-list-wrapper {
  margin-bottom: 20px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 10px;
  overflow: hidden;
}

.loading {
  font-size: 1.2rem;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  display: flex;
  background-color: rgb(243, 243, 243);
}

.todo-list li:nth-child(even) {
  background-color: rgb(230, 228, 228);
}

.todo-list li.checked {
  background-color: rgb(127, 255, 138);
}

.todo-list label,
.loading {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px 10px 10px 32px;
  cursor: pointer;
}

.todo-list .checked label {
  padding-left: 24px;
}

.todo-list .checked label:before {
  position: relative;
  left: -10px;
  top: -2px;
  display: block;
  content: '';
  border-color: #000;
  border-style: solid;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
  height: 13px;
  width: 6px;
}

.todo-list .check-input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.todo-list .text {
  flex: 1;
}

.todo-list .delete-button {
  height: max-content;
  margin-left: 10px;
  background-color: rgb(204, 74, 74);
  border: none;
  color: #fff;
  padding: 7px 10px;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}
